<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<title>Foodie Helpdesk</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<! – HEADER –>

<header class="header">
<div class="topnav">
	<! – HEADER –>
    <a id="logo-box" href="{{ url_for('list_main_page') }}">
    <img id="logotopbar" alt="Foodie Helpdesk Logo" src="{{ url_for('static', filename='Pictures/chefer-1.png') }}">
			</a>

			<a  href="{{ url_for('list_main_page') }}">Home</a>
</div>
</header>
	<div class="wrapp-around">
		<div class="yellow">
			<h2 class="yellow-header"> Question </h2>
			<div class="box">
				<p class="date">published: {{ question["submission_time"] }} | views: {{ question["view_number"] }} </p>
				<div class="comment-block">
					{% if question['image'] %}
					<img class="question-photo" src="{{ url_for('static', filename=question['image']) }}"> {% endif %}
					<h3 class="box-tittle">
						<a href="{{ url_for('question', question_id=question['id']) }}"> {{ question["title"] }} </a>
					</h3>

					<p class="list-text">{{ question["message"] }}</p>
				</div>
				<div class="box-voting">
					<p class="date"> Number of votes: {{ question["vote_number"] }} Vote:
						<a href="{{ url_for('add_vote_to_question', question_id=question['id']) }}">
							<img class="thumb" alt="thumbup" src="{{ url_for('static', filename='Pictures/iconmonstr-thumb-10-240.png') }}">
						</a>
						<a href="{{ url_for('remove_vote_from_question', question_id=question['id']) }}">
							<img class="thumb" alt="thumbdown" src="{{ url_for('static', filename='Pictures/iconmonstr-thumb-12-240.png') }}">
						</a>
				</div>
			</div>
		</div>
	</div>

	<div class="add-comment-area">
		<div class="wrapp-around">
			<div class="box">
                {% if answer is defined %}
                <form method="post" action="{{ url_for('edit_answer',question_id=question["id"],  answer_id=answer["id"]) }}" enctype="multipart/form-data">
                    <h4>Your answer</h4>
					{% if answer is defined %}
                    <textarea name="message" cols="30" rows="5" class="html-text-box">{{ answer["message"] }}</textarea><br>
                    {% else %}
					<textarea name="message" cols="30" rows="5" class="html-text-box" placeholder="Submit your answer"></textarea><br>
                    {% endif %}
					<label for="answer-image">Upload photo:</label>
					<input type="file" id="answer-image" name="image" accept="image/png, image/jpeg"><br>
					<input type="submit" value="Submit" class="html-text-box">
					<input type="reset" value="Reset" class="html-text-box">
				</form>

                {% else %}
				<form method="post" action="{{ url_for('add_answer', question_id=question["id"]) }}" enctype="multipart/form-data">
					<h2>Add/Edit Answer</h2>
					<textarea name="message" cols="30" rows="5" class="html-text-box" placeholder="Submit your answer"></textarea><br>
					<label for="answer_image">Upload photo:</label>

					<input type="file" id="answer-image" name="image" accept="image/png, image/jpeg"><br>
					<input type="submit" value="Submit" class="html-text-box">
					<input type="reset" value="Reset" class="html-text-box">
				</form>
                {% endif %}
			</div>
		</div>
	</div>
