
{% extends 'base.html' %}
{% block head %}<title>Foodie Helpdesk</title>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <script type="text/javascript">
			alert('{{ message }}');
		</script>
    </div>
{% endfor %}
{% endblock %}

{% block body %}


<header>
<!-- Main Top Menu -->
    <nav>
        <div class="menu">
                <a id="logo-box" href="{{ url_for('list_main_page') }}">
                <img class="menu__logo" alt="Foodie Helpdesk Logo" src="{{ url_for('static', filename='Pictures/chefer-1.png') }}">
                        </a>

            {% if logged %}
                <ul>
                    <li><a  href="{{ url_for('list_main_page') }}">Home</a></li>
                    <li><a  href="{{ url_for('display_all_tags') }}">All tags</a></li>
                    <li><a  href="/users">Users</a></li>
                    <li><a  href="/logout">Logout</a></li>
                </ul>

            {% else %}
                <ul>
                    <li><a  href="{{ url_for('list_main_page') }}">Home</a></li>
                    <li><a  href="{{ url_for('display_all_tags') }}">All tags</a></li>
                    <li><a  href="/users">Users</a></li>
                    <li><a  href="/login">Login</a></li>
                    <li><a  href="/register">Register</a></li>
                </ul>
            {% endif %}

        </div>
    </nav>
  </header>
	<div class="wrapp-around">
		<div class="yellow">
			<h2 class="yellow-header"> Add/edit Question </h2>
			<div class="box">
				{# {% if question is defined %}#} {# {% set question_id = None %}#} {# {% else %}#} {# {% set question_id = question["id"] %}#} {# {% endif %}#} {% if question is defined %}
				<form method="post" action="{{ url_for('edit_question', question_id=question["id"]) }}" enctype="multipart/form-data">
					<h2 class="box-tittle-gray">Question title</h2>
					{% if question is defined %}
					<textarea class="html-text-box" cols="30" rows="1" type="text" name="title"> {{ question['title'] }}</textarea> {% else %}
					<textarea class="html-text-box" type="text" name="title"></textarea> {% endif %}
					<h4>Your question</h4>
					{% if question is defined %}
					<textarea name="message" cols="30" rows="5" class="html-text-box">{{ question["message"] }}</textarea><br> {% else %}
					<textarea name="message" cols="30" rows="5" class="html-text-box" placeholder="Submit your question"></textarea><br> {% endif %}
					<label for="question-image">Upload photo:</label>
					<input type="file" id="question-image" name="image" accept="image/png, image/jpeg"><br>
					<input type="submit" value="Submit" class="html-text-box">
					<input type="reset" value="Reset" class="html-text-box">
				</form>
				{% else %}
				<form method="post" action="{{ url_for('add_question') }}" enctype="multipart/form-data">
					<h2 class="box-tittle-gray">Question title</h2>
					{% if question is defined %}
					<textarea type="text" name="title" cols="30" rows="1" class="html-text-box">{{ question['title'] }}</textarea> {% else %}
					<textarea type="text" name="title" cols="30" rows="1" class="html-text-box" placeholder="Submit your tittle"></textarea> {% endif %}
					<h4 class="box-tittle-gray">Your question</h4>
					{% if question is defined %}
					<textarea name="message" cols="30" rows="5" class="html-text-box">{{ question["message"] }}</textarea><br> {% else %}
					<textarea name="message" cols="30" rows="5" class="html-text-box" placeholder="Submit your question"></textarea><br> {% endif %}

					<label for="question-image">Upload photo:</label>

					<input type="file" id="question-image" name="image" accept="image/png, image/jpeg"><br>

					<input type="submit" value="Submit" class="html-text-box">
					<input type="reset" value="Reset" class="html-text-box">
				</form>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
