
{% extends 'base.html' %}
{% block head %}<title>Foodie Helpdesk</title>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <script type="text/javascript">
			alert('{{ message }}');
		</script>
    </div>
{% endfor %}
{% endblock %}

{% block body %}


<header>
<!-- Main Top Menu -->
    <nav>
        <div class="menu">
                <a id="logo-box" href="{{ url_for('list_main_page') }}">
                <img class="menu__logo" alt="Foodie Helpdesk Logo" src="{{ url_for('static', filename='Pictures/chefer-1.png') }}">
                        </a>

            {% if logged %}
                <ul>
                    <li><a  href="{{ url_for('list_main_page') }}">Home</a></li>
                    <li><a  href="{{ url_for('display_all_tags') }}">All tags</a></li>
                    <li><a  class="active" href="/users">Users</a></li>
                    <li><a  href="/user/{{user_id}}">My profile</a></li>
                    <li><a  href="/logout">Logout</a></li>
                </ul>

            {% else %}
                <ul>
                    <li><a  href="{{ url_for('list_main_page') }}">Home</a></li>
                    <li><a  href="{{ url_for('display_all_tags') }}">All tags</a></li>
                    <li><a  class="active" href="/users">Users</a></li>
                    <li><a  href="/login">Login</a></li>
                    <li><a  href="/register">Register</a></li>
                </ul>
            {% endif %}

        </div>
    </nav>
  </header>
<div class="users_wrapper">
<div class="orange_box">
	<div class="mini_user_wrapper_box">User name</div>
	<div class="mini_user_wrapper_box">Registration time</div>
	<div class="mini_user_wrapper_box">Reputation</div>
	<div class="mini_user_wrapper_box">Number of questions</div>
	<div class="mini_user_wrapper_box">Number of answers</div>
	<div class="mini_user_wrapper_box">Number of comments</div>
	<div class="mini_user_wrapper_box">User details</div>
</div>
	{% for user in users %}
<div class="box">
	<div class="mini_user_name_wrapper_box">{{user.user_name}}</div>
	<div class="mini_user_wrapper_box">{{user.registration_time}}</div>
	<div class="mini_user_wrapper_box">{{user.reputation}}</div>
	<div class="mini_user_wrapper_box">{{user.questions}}</div>
	<div class="mini_user_wrapper_box">{{user.answers}}</div>
	<div class="mini_user_wrapper_box">{{user.comments}}</div>
	<div class="mini_user_wrapper_box"><a class="ask-call-button" href="/user/{{user.id}}">Profile</a></a> </div>

</div>
	{% endfor %}
</div>

</div>

{% endblock %}