
{% extends 'base.html' %}
{% block head %}<title>Foodie Helpdesk</title>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <script type="text/javascript">
			alert('{{ message }}');
		</script>
    </div>
{% endfor %}
{% endblock %}

{% block body %}


<header>
<!-- Main Top Menu -->
    <nav>
        <div class="menu">
                <a id="logo-box" href="{{ url_for('list_main_page') }}">
                <img class="menu__logo" alt="Foodie Helpdesk Logo" src="{{ url_for('static', filename='Pictures/chefer-1.png') }}">
                        </a>

            {% if logged %}
                <ul>
                    <li><a  href="{{ url_for('list_main_page') }}">Home</a></li>
                    <li><a  class="active" href="{{ url_for('display_all_tags') }}">All tags</a></li>
                    <li><a  href="/users">Users</a></li>
                    <li><a  href="/user/">My profile</a></li>
                    <li><a  href="/logout">Logout</a></li>
                </ul>

            {% else %}
                <ul>
                    <li><a  href="{{ url_for('list_main_page') }}">Home</a></li>
                    <li><a  class="active" href="{{ url_for('display_all_tags') }}">All tags</a></li>
                    <li><a  href="/login">Login</a></li>
                    <li><a  href="/register">Register</a></li>
                </ul>
            {% endif %}

        </div>
    </nav>
  </header>

    {%  if all_tags %}
    <fieldset>
        <legend>Tags used on the page</legend>
        {% for tag in all_tags %}
            <span> {{ tag.name }} &#215; {{ "1" if tag.count == 1 else tag.count }}{{  ", " if not loop.last else "" }}</span>
        {% endfor %}
    </fieldset>
    {% else %}
        <span>No tags used</span>
    {% endif %}

{% endblock %}